## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df

,City_ID,City,Country,Maximum temperature,Weather description,Latitude,longitude,Hotel Name
0,6,Atuona,PF,78.39,scattered clouds,-9.8000,-139.0333,Villa Enata
1,12,Faanui,PF,79.79,scattered clouds,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
2,15,Hithadhoo,MV,82.72,overcast clouds,-0.6000,73.0833,Scoop Guest House
3,16,Hilo,US,81.39,moderate rain,19.7297,-155.0900,Hilo Hawaiian Hotel
4,17,Vaini,TO,77.16,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
...,...,...,...,...,...,...,...,...
205,650,Praia,CV,79.34,few clouds,14.9215,-23.5087,LT Aparthotel
206,655,Rach Gia,VN,82.35,overcast clouds,10.0167,105.0833,Nhà Hàng Hòa Giang
207,666,Umm Lajj,SA,86.74,clear sky,25.0213,37.2685,Moon light Furnished Units
208,667,Magaria,NE,83.10,overcast clouds,12.9983,8.9099,Chez Honorable Chapiou
209,669,Nioro,GM,77.04,broken clouds,13.3500,-15.7500,NaN

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather description} and {Maximum temperature} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Latitude", "longitude"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]== "Savda"]
vacation_end = vacation_df.loc[vacation_df["City"]== "Savda"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]== "Devli"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]== "Rajapur"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]== "Simga"] 
vacation_start

,City_ID,City,Country,Maximum temperature,Weather description,Latitude,longitude,Hotel Name
134,461,Savda,IN,75.72,scattered clouds,21.15,75.8833,Govt Rest House

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Latitude"].to_numpy()[0], vacation_start["longitude"].to_numpy()[0]
end = vacation_end["Latitude"].to_numpy()[0], vacation_end["longitude"].to_numpy()[0]
stop1 = vacation_stop1["Latitude"].to_numpy()[0], vacation_stop1["longitude"].to_numpy()[0]
stop2 = vacation_stop2["Latitude"].to_numpy()[0], vacation_stop2["longitude"].to_numpy()[0]
stop3 = vacation_stop3["Latitude"].to_numpy()[0], vacation_stop3["longitude"].to_numpy()[0]
start

(21.15, 75.8833)

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
city_itinerary = gmaps.directions_layer(
        start, end, waypoints=[start, stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Maximum temperature,Weather description,Latitude,longitude,Hotel Name
0,461,Savda,IN,75.72,scattered clouds,21.1500,75.8833,Govt Rest House
1,630,Devli,IN,77.05,clear sky,25.7500,75.3833,HOTEL DWARKA PALACE
2,303,Rajapur,IN,75.29,clear sky,25.3833,81.1500,Sahu Ji Galla Mills
3,547,Simga,IN,75.72,few clouds,21.6333,81.7000,OM Hotel & Sweet

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather description} and {Maximum temperature} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Latitude", "longitude"]]

   Latitude  longitude
0   21.1500    75.8833
1   25.7500    75.3833
2   25.3833    81.1500
3   21.6333    81.7000

In [28]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(24.0, 80.0), zoom_level=5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))